%br/
%br/
%br/
.container.text-left
  %h1 Edit #{resource_name.to_s.humanize}
  %d.row
    %d.col-md-6
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.input :email, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        %i Password (leave blank if you don't want to change it)
        = f.input :password, autocomplete: "off", placeholder: '6 characters minimum', :minimum => 6, :maximum => 128
        = f.input :password_confirmation, label: 'Password Confirmation', autocomplete: "off", :minimum => 6, :maximum => 128
        = f.input :current_password, label: 'Current Password ', placeholder: '(we need your current password to confirm your changes)', autocomplete: "off"
        = f.button :submit, "Update", :class => 'btn btn-primary btn-xl js-scroll-trigger'
      %br/
      %h1 Cancel my account
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-primary btn-xl js-scroll-trigger'}
      = link_to "Back", :back
