= form_with(model: project, local: true, url: admin_project_path) do |form|
  - if project.errors.any?
    #error_explanation
      %h2
        = pluralize(project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - project.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title, id: :project_title
  .field
    = form.label :image
    = form.text_field :image, id: :project_image
  .field
    = form.label :short_desc
    = form.text_field :short_desc, id: :project_short_desc
  .field
    = form.label :long_desc
    = form.text_area :long_desc, id: :project_long_desc
  .field
    = form.label :project_link
    = form.text_field :project_link, id: :project_project_link
  .actions
    = form.submit
