%d.row
  %d.col-md-6
    = simple_form_for(:project, url: admin_project_path, method: :put) do |f|
      = f.input  :title
      = f.input  :image, placeholder: 'Image URL in assets folder or online'
      = f.input  :short_desc
      = f.input  :long_desc
      = f.input  :project_link, placeholder: 'URL to view project online'
      = f.button :submit, 'Update Project', :class => 'btn btn-primary btn-xl js-scroll-trigger'
    %br/
