= simple_form_for(:project, url: admin_project_path, method: :put) do |f|
  = f.input  :title
  * Image
  %br/
  %br/
  = f.file_field :avatar
  %br/
  %br/
  = f.input  :short_desc
  = f.input  :long_desc
  = f.input  :project_link, placeholder: 'URL to view project online'
  = f.button :submit, 'Update Project', :class => 'btn btn-primary btn-xl js-scroll-trigger'
%br/
