%header.masthead.text-center.text-white.d-flex
  .container.my-auto
    %h1 Projects
    %br/
    %table.table.bg-dark
      %thead
        %tr
          %th Title
          %th Image
          %th Project link
          %th{:colspan => '3'}
      %tbody
        - @projects.each do |project|
          %tr
            %td= project.title
            %td= project.avatar_identifier
            %td= project.project_link
            %td= link_to 'Show', project, target: :blank
            %td= link_to 'Edit', edit_admin_project_path(project)
            %td= link_to 'Destroy', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' }
    = link_to 'New Project', new_admin_project_path, class: 'btn btn-primary btn-xl js-scroll-trigger'
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
