<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<body>
  <div class="container text-left">
    <!-- Page Heading -->
    <h1 class="my-4">Projects<br>
    </h1>

    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="projectview"><img class="card-img-top" <%= image_tag(project.image, size: '400x250') %></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="projectview"><%= project.title %></a>
              </h4>
              <p class="card-text"><%= project.short_desc %></p>
              <a><%= link_to 'Show', project %></a>
              <a><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

<!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
