<p id="notice"><%= notice %></p>

<br>
<br>

<body>
  <div class="container text-left">
    <!-- Portfolio Item Heading -->
    <h1 class="my-4"><%= @project.title %><br>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" <%= image_tag(@project.image, size: '750x500')%>
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Project Description</h3>
        <p><%= @project.long_desc %></p>
        <p><%= link_to 'Live Project',@project.project_link %></p>
      </div>
    </div>
    <br><br>
    <a class="btn btn-primary btn-xl js-scroll-trigger" <%= link_to 'Back', projects_path %></a>
    <br><br>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</body>
