%body
  %header
    / Fixed navbar
    %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-nav
      %button.navbar-toggler{'aria-controls' => 'navbarCollapse', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbarCollapse', 'data-toggle' => 'collapse', :type => 'button'}
        %span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item{:class => active_class('/index')}
            %a.nav-link{:href => '/index'} Home
          %li.nav-item{:class => active_class('/about')}
            %a.nav-link{:href => '/about'} About
          %li.nav-item{:class => active_class('/projects')}
            %a.nav-link{:href => '/projects'} Projects
          %li.nav-item{:class => active_class('/resume')}
            %a.nav-link{:href => '/resume'} Resume
          %li.nav-item{:class => active_class('/faq')}
            %a.nav-link{:href => '/faq'} FAQ
          - if current_user && current_user.is_admin
            %li.nav-item{:class => active_class('/admin/projects')}
              %a.nav-link{:href => '/admin/projects'} Admin
        %form.form-inline.mt-2.mt-md-0
          - if user_signed_in?
            %a
              %strong= link_to current_user.email
            |||
            \#{link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-primary btn-xl js-scroll-trigger'} ||
            \#{link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-primary btn-xl js-scroll-trigger'}
          - else
            = link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-xl js-scroll-trigger'
            ||
            \#{link_to 'Login', new_user_session_path, :class => 'btn btn-primary btn-xl js-scroll-trigger'}
