<header>
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="faq">FAQ</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-primary btn-xl js-scroll-trigger' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary btn-xl js-scroll-trigger'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary btn-xl js-scroll-trigger'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary btn-xl js-scroll-trigger'  %>
      <% end %>
    </form>
  </div>
</nav>
</header>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="https://blackrockdigital.github.io/startbootstrap-creative/js/creative.min.js"></script>

