<!DOCTYPE html>
<html>
  <head>
    <title>Jstarner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/css/creative.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
